<!--margin: 2rem 0  상하 2rem, 좌우 0-->
<div class="pragmatic_header">
    <div>
        <h1 class="pragmatic_logo">
<!--            이 링크는 내 맘대로 추가한 것-->
            <a href="{% url 'accountapp:hello_world' %}">
                    Pragmatic
            </a></h1>
    </div>
    <div class="pragmatic_header_navbar">
            <a href="{% url 'articleapp:list' %}" class="prgmatic_header_nav">
            <span>Articles</span>
        </a>

         <a href="{% url 'projectapp:list' %}" class="prgmatic_header_nav">
                <span>Projects</span>
            </a>


<!--    로그인 :user가 아니면 =>login으로/ user이면 logout으로-->
<!--    login하고 나서 그다음에 연결되어야 하는 경로를 next로 적어준다.
        next={{request.path}}가 없으면 accounts/profile이라는 페이지로 넘어가더라
        next 값을 사용할때 {{ request.path }} 를 사용하는 건, 홈페이지 상단의 login 버튼을 눌렀을때,
        그 버튼을 누를때 보고 있던 페이지의 정보를 넘겨주기 위함입니다. 해당 페이지의 정보를 넘겨줌으로써,
        로그인 이후 로그인 버튼을 누른 페이지로 다시 되돌아갈 수 있도록 연결해주는 역할을 합니다. -->
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="prgmatic_header_nav">
            <span>login</span>
        </a>
        <a href="{% url 'accountapp:create' %}" class="prgmatic_header_nav">
            <span>SignUp</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}" class="prgmatic_header_nav">
            <span>MyPage</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="prgmatic_header_nav">
            <span>logout</span>
        </a>
        {% endif %}

    </div>

</div>